.. _strategies:

Strategies
==========

`pyreflow` has many options controlling its behavior when reading FCS files.

Since most users likely will not care about these options, flags may may be set
in buld according to several "strategies" (see :ref:`config_interfaces` for
details of how to set these).


Available strategies are:

* **strict (default)**: All options are at their default values. Only
  perfect FCS files will parse without error.
* **scalpel**: Parse and repair FCS file while attempting to preserve metadata.
  Non-trivial metadata such as whitespace around keyword values may be stripped.
* **sledgehammer**: Parse FCS file and do whatever is needed to parse *DATA*;
  possibly ignore/throw away metadata and non-*DATA* segments if their format
  cannot be determined.

**Most users will likely want the scalpal strategy.** Those wishing for more
control can fine-tune options after setting a strategy.

Scope and Limitations
+++++++++++++++++++++

Strategies are vendor-agnostic. Any values that are often used by a given
machine are not taken into account.

One place this matters is the treatment of the time measurement. The standard
dictates that the name of the time channel is ``"Time"`` (case-insensitive
matching recommended). However, some machines call this measurement ``"HDR-T"``
or ``"T1"``. `pyreflow` currently has no mechanism to determine what this value
should be; therefore, the user must supply the value themselves as necessary.

Argument Reference
++++++++++++++++++

The following is a list of all read-specific arguments in `pyreflow` and their
values for each strategy. Arguments are only used when relevent for a given
method or function. Some values are the same across all strategies since they
have no obvious default to be chosen.

.. list-table::
   :header-rows: 1

   * - Flag
     - Strict
     - Scalpel
     - Sledgehammer
{% for r in preset_args %}
   * - {{r[0]}}
     - {{r[1]}}
     - {{r[2]}}
     - {{r[3]}}
{% endfor %}
